name: deploy-openshift

on:
  workflow_dispatch:
    inputs:
      s3_storage:
        description: 's3 storage bucket name'
        required: true
        default: 'dina-s3-storage'
      clusterNamePrefix:
        description: 'cluster name prefix will get combined with the github run number'
        required: true
        default: 'dina-ocp'
      replicas:
        description: 'Replicas to deploy for cluster (used in initial-config)'
        required: true
        default: '3'
      hostPrefix:
        description: 'Host prefix to deploy for cluster (used in initial-config)'
        required: true
        default: '23'
      networkType:
        description: 'Network type to deploy for cluster (used in initial-config)'
        required: true
        default: 'OVNKubernetes'
      region:
        description: 'AWS Region to deploy cluster to (used in initial-config)'
        required: true
        default: 'us-east-1'
      ami:
        description: 'AWS ami to be used for machineSet. Default: Windows_Server-2019-English-Full-ContainersLatest-2021.04.14'
        required: true
        default: 'ami-015451c8bbe8e7650'
      containerImage:
        description: 'Container Image to pull from registry'
        required: true
        default: 'mcr.microsoft.com/windows/servercore:1809'

jobs:
  deploy-ocp:
    runs-on: macos-latest
    env:
      lcl_install_dir: ${{ github.event.inputs.clusterNamePrefix }}-${{ github.run_number }}
      kubeconfig_path: "${{github.workspace}}/${{ github.event.inputs.clusterNamePrefix }}-${{ github.run_number }}/auth/kubeconfig"

    steps:
      - name: "Checkout ${{ github.ref }}"
        uses: actions/checkout@master
        with:
          ref: ${{ github.ref }}

      - name: Install OpenShift CLI
        uses: redhat-actions/oc-installer@v1

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        env:
          aws_region: us-east-1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.aws_region }}

      - name: Create SSH key for cluster
        shell: bash
        run: |
          echo "\n *** VARS USED IN THIS STEP *** "
          echo "lcl_install_dir is: ${{ env.lcl_install_dir }}"
          echo " ********************************* \n"
          mkdir -p ./${{ env.lcl_install_dir }}/ssh-keys/
          ssh-keygen -t rsa -b 4096 -q -N "" -f "./${{ env.lcl_install_dir }}/ssh-keys/${{ env.lcl_install_dir }}"
          aws s3 sync ./${{ env.lcl_install_dir }}/ssh-keys/ s3://${{ github.event.inputs.s3_storage }}/${{ env.lcl_install_dir }}/ssh-keys/

      - name: Parameterize install-config.yaml
        shell: bash
        env:
          s3_config_path: "${{ github.event.inputs.s3_storage }}/ocp-install-configs"
          clusterName: "${{ github.event.inputs.clusterNamePrefix }}-${{ github.run_number }}"
        run: |
          aws s3 cp s3://${{ env.s3_config_path }}/pull-secret.txt ./${{ env.lcl_install_dir }}/pull-secret.txt --region us-east-1 --quiet
          export pullSecret=$(cat "./${{ env.lcl_install_dir }}/pull-secret.txt")
          export sshKey=$(cat "./${{ env.lcl_install_dir }}/ssh-keys/${{ env.lcl_install_dir }}.pub")
          export region=${{ github.event.inputs.region }}
          export email=${{ secrets.EMAIL }}
          export delete_by=NEVER
          export always_up=false
          export baseDomain=${{ secrets.baseDomain }}
          export replicas=${{ github.event.inputs.replicas }}
          export hostPrefix=${{ github.event.inputs.hostPrefix }}
          export networkType=${{ github.event.inputs.networkType }}
          export clusterName=${{ env.clusterName }}
          export cidrClusterNetwork=${{ secrets.cidrClusterNetwork }}
          export cidrMachineNetwork=${{ secrets.cidrMachineNetwork }}
          export serviceNetwork=${{ secrets.serviceNetwork }}
          envsubst < ./install-configs/install-config-template.yaml > ./${{ env.lcl_install_dir }}/install-config.yaml
          aws s3 sync ./${{ env.lcl_install_dir }}/ s3://${{ github.event.inputs.s3_storage }}/${{ env.lcl_install_dir }}/

      - name: Download OpenShift installer and update permissions
        shell: bash
        env:
          s3_installer_path: "${{ github.event.inputs.s3_storage }}/macos-installer"
        run: |
          mkdir -p ./${{ env.lcl_install_dir }}
          echo "Downloading OpenShift Installer..."
          aws s3 cp s3://${{ env.s3_installer_path }}/openshift-install ./openshift-install --region us-east-1 --quiet
          echo "Update permissions to executable on the openshift-installer..."
          chmod +rwx ./openshift-install
          echo "OCP_VERSION=$(./openshift-install version | head -n 1)" >> $GITHUB_ENV

      - name: Create manifests
        shell: bash
        run: |
          echo "Create OpenShift manifests...\n"
          ./openshift-install --dir=./${{ env.lcl_install_dir }} create manifests

      - name: Parameterize cluster-network-03-config file
        shell: bash
        env:
          s3_config_path: "${{ github.event.inputs.s3_storage }}/ocp-install-configs"
        run: |
          export hostPrefix=${{ github.event.inputs.hostPrefix }}
          export cidrClusterNetwork=${{ secrets.cidrClusterNetwork }}
          export serviceNetwork=${{ secrets.serviceNetwork }}
          export cidrhybridClusterNetwork=${{ secrets.cidrhybridClusterNetwork }}
          envsubst < ./install-configs/cluster-network-03-config-template.yaml > ./${{ env.lcl_install_dir }}/manifests/cluster-network-03-config.yaml
          aws s3 sync ./${{ env.lcl_install_dir }}/ s3://${{ github.event.inputs.s3_storage }}/${{ env.lcl_install_dir }}/
          if [ ! -f ./${{ env.lcl_install_dir }}/manifests/cluster-network-03-config.yml ]; then echo "cluster-network-03-config.yaml does not exist." exit 1; else echo "cluster-network-03-config.yaml exists, continuing deployment..."; fi

      - name: Create ignition configs
        shell: bash
        run: |
          ./openshift-install create ignition-configs --dir=./${{ env.lcl_install_dir }}

      - name: Run OCP installer - create cluster
        shell: bash
        run: | 
          echo "Starting Install of $OCP_VERSION"
          echo "Deployment ETA ~40 minutes..."
           ./openshift-install --dir=./${{ env.lcl_install_dir }} create cluster --log-level=warn
          echo "Uploading install files to S3 for: ${{ env.lcl_install_dir }}"
          aws s3 sync ./${{ env.lcl_install_dir }} s3://${{ github.event.inputs.s3_storage }}/${{ env.lcl_install_dir }}

      - name: Create SSH key for WMCO
        shell: bash
        run: |
          mkdir -p ./${{ env.lcl_install_dir }}/ssh-keys/
          ssh-keygen -t rsa -b 4096 -m PEM -q -N "" -f "./${{ env.lcl_install_dir }}/ssh-keys/${{ env.lcl_install_dir }}-wmco"
          aws s3 sync ./${{ env.lcl_install_dir }}/ssh-keys/ s3://${{ github.event.inputs.s3_storage }}/${{ env.lcl_install_dir }}/ssh-keys/

      - name: Install WMCO
        shell: bash
        run: |
          export KUBECONFIG=$(pwd)/${{ env.lcl_install_dir }}/auth/kubeconfig
          oc create -f ./crd/wmco-namespace.yaml
          oc create -f ./crd/wmco-og.yaml
          oc create -f ./crd/wmco-sub.yaml
          echo "verifying the WMCO installation:"
          oc get csv -n openshift-windows-machine-config-operator

      - name: Associate SSH key to WMCO
        shell: bash
        run: |
          export KUBECONFIG=$(pwd)/${{ env.lcl_install_dir }}/auth/kubeconfig
          oc create secret generic cloud-private-key --from-file=private-key.pem=./${{ env.lcl_install_dir }}/ssh-keys/${{ env.lcl_install_dir }}-wmco -n openshift-windows-machine-config-operator

      - name: Deploy MachineSet for Windows
        shell: bash
        run: |
          export KUBECONFIG=$(pwd)/${{ env.lcl_install_dir }}/auth/kubeconfig
          export infrastructure_id=$(oc get -o jsonpath='{.status.infrastructureName}{"\n"}' infrastructure cluster)
          export zone='us-east-1a'
          export email=${{ secrets.EMAIL }}
          export windows_base_ami=${{ github.event.inputs.ami }}
          export region='us-east-1'
          export delete_by=NEVER
          export always_up=false
          envsubst < ./crd/aws-machineset-win-template.yaml >> ./${{ env.lcl_install_dir }}/aws-machineset-win.yaml
          oc create -f ./${{ env.lcl_install_dir }}/aws-machineset-win.yaml
          aws s3 sync ./${{ env.lcl_install_dir }}/ s3://${{ github.event.inputs.s3_storage }}/${{ env.lcl_install_dir }}/

      - name: Pre-pull Windows container image job
        shell: bash
        run: |
          export KUBECONFIG=$(pwd)/${{ env.lcl_install_dir }}/auth/kubeconfig
          export windowsIP=$(oc get node -l kubernetes.io/os=windows,node-role.kubernetes.io/worker -o json | jq -r '.items[0].status.addresses[0].address')
          export containerImage=${{ github.event.inputs.containerImage }}
          export sshkeySecretName='cloud-private-key'
          envsubst < ./crd/prepull-image-template.yaml >> ./${{ env.lcl_install_dir }}/prepull-image.yaml
          oc create -f ./${{ env.lcl_install_dir }}/prepull-image.yaml

      - name: Deploy Windows container
        shell: bash
        run: |
          export KUBECONFIG=$(pwd)/${{ env.lcl_install_dir }}/auth/kubeconfig
          export containerName='windows-demo-iis'
          export projectName='windows-workloads'
          export containerImage=${{ github.event.inputs.containerImage }}
          envsubst < ./crd/windows-container-template.yaml >> ./${{ env.lcl_install_dir }}/windows-container.yaml
          oc new-project $projectName
          oc create -f ./${{ env.lcl_install_dir }}/windows-container.yaml

      - name: Remove kubeadmin user
        shell: bash
        run: |
          export KUBECONFIG=$(pwd)/${{ env.lcl_install_dir }}/auth/kubeconfig
          echo "KUBECONFIG env var is: $KUBECONFIG"
          echo "Verify by running oc get nodes:"
          oc get nodes
          htpasswd -c -B -b ./users.htpasswd ${{ secrets.OC_USER }} ${{ secrets.OC_PASSWORD }}
          oc create secret generic htpass-secret --from-file=htpasswd=./users.htpasswd -n openshift-config
          oc apply -f ./crd/htpasswd-oauth.yml
          oc create clusterrolebinding registry-controller --clusterrole=cluster-admin --user=${{ secrets.OC_USER }}
          oc adm policy add-cluster-role-to-user cluster-admin ${{ secrets.OC_USER }}
          oc delete secrets kubeadmin -n kube-system

      - name:  install certbot + aws-route53-extension
        shell: bash
        run: |
          brew install certbot
          pip3 install certbot-dns-route53

      - name: Run certbot against route53 to generate certs
        shell: bash
        env:
          domain_for_cert: "*.apps.${{ github.event.inputs.clusterNamePrefix }}-${{ github.run_number }}.${{ secrets.baseDomain }}"
        run: |
          certbot certonly \
            --dns-route53 \
            --config-dir ./certbot-config \
            --logs-dir ./certbot/logs \
            --work-dir ./certbot/work \
            --agree-tos \
            --non-interactive \
            --email ${{ secrets.EMAIL }} \
            -d "${{ env.domain_for_cert }}"

      - name: Apply ssl cert against OpenShift
        shell: bash
        env:
          cert_name: "apps.${{ github.event.inputs.clusterNamePrefix }}-${{ github.run_number }}.${{ secrets.baseDomain }}"
          fullchain_path: "${{github.workspace}}/certbot-config/live/${{ env.cert_name }}/fullchain.pem"
          privkey_path: "${{github.workspace}}/certbot-config/live/${{ env.cert_name }}/privkey.pem"
        run: |
          export KUBECONFIG=$(pwd)/${{ env.lcl_install_dir }}/auth/kubeconfig
          oc login -u ${{ secrets.OC_USER }} -p ${{ secrets.OC_PASSWORD }}
          fullchain="${{github.workspace}}/certbot-config/live/${{ env.cert_name }}/fullchain.pem"
          privkey="${{github.workspace}}/certbot-config/live/${{ env.cert_name }}/privkey.pem"
          oc create secret tls router-certs --cert=$fullchain --key=$privkey -n openshift-ingress
          oc patch ingresscontroller default -n openshift-ingress-operator --type=merge --patch='{"spec": { "defaultCertificate": { "name": "router-certs" }}}'